{#=====================================================
  403 Forbidden page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Forbidden

{% endblock %}


{% block content %}
  <article class="error-text">
    <h1>Forbidden!</h1>
    <p>Sorry, but this action is forbidden</p>
  </article>
{% endblock %}