{#=====================================================
  403 Forbidden page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Forbidden

{% endblock %}


{% block content %}

    <h1>Forbidden!</h1>

    <p>Sorry, but this action is forbidden</p>
    <p>Try logging in or logging out then in again.</p>

{% endblock %}