{#=====================================================
  About Page
  - TODO: WHAT DOES THIS PAGE DO?
=====================================================#}



{% extends 'pages/base.jinja' %}


{% block title %}

    About - NARC

{% endblock %}


{% block content %}

    <article>
      <p>Nelson Amateur radio club was formed quite a wee while now but since then we have done a lot.
      At some point in our history we have been the largest Amateur radio club in all NZ.
      </p>
      <img src="/static/images/old_repeater.jpg" alt="Historical image of club working on a remote antenna">
    </article>

    <article>
      <p>We own and operate repeaters on 2m and 70cm FM on leased sites:</p>
      <p><strong>147.025 RX 147.625 TX</strong> 7025 is our repeater with most activity.</p>
      <p><strong>147.200 RX 147.800 TX</strong> 720 focuses on areas towards north of Nelson and is Solar Powered</p>
      <img src="/static/images/fox_hunt.jpg" alt="Club members meeting to discuss transmitter hunt.">
    </article>

    <article>
      <p>We now have over 60 members and host 2 HamCrams each year, allowing people in the Nelson Reigon to get their ham license.</p>
      <img src="/static/images/saddle_hill.jpg" alt="Image from the same repeater site as historical image">

    </article>
    

{% endblock %}