{#=====================================================
  Activities Page
  - Shows all recent and upcoming activities and allow members to post new activities
=====================================================#}



{% extends 'pages/base.jinja' %}


{% block title %}

    Activities - NARC

{% endblock %}


{% block content %}
  <h2>All Upcoming Activities</h2>

  <section class="activity-container">
    {% for activity in activities %}
      <article class="accent-article">
        <h3>{{ activity.title }}</h3>
        <p>{{ activity.description }}</p>
        <p>Location: <strong>{{ activity.location }}</strong></p>
        
        <p>Starts: <strong>
        {{ activity.start_time | localday }},
        {{ activity.start_time | localdate }} at
        {{ activity.start_time | localtime }}
        </strong></p>

        <p>Ends: <strong>
        {{ activity.end_time | localday }},
        {{ activity.end_time | localdate }} at
        {{ activity.end_time | localtime }}
        </strong></p>
        
        {% if activity.resource_title %} 
        <p>Attached Resource: <a href="{{activity.resource_url}}">{{activity.resource_title}}</a></p>  
        {% endif %}
        
        <p>Posted By: {{ activity.posted_by }}</p>

        {% if activity.approvable %}
          <p>
            {% set a = approvals_by_activity.get(activity.id) %}
            {% if a %}
              Approved by: {{ a | join(', ') }}
            {% else %}
              Approved by: (none yet)
            {% endif %}
          </p>
          {% if (not a or user.callsign not in a) and user.callsign not in activity.posted_by %}
            <a href="/add-approval/{{ activity.id }}">Add Your Approval</a>
          {% endif %}

        {% endif %}
      </article>
    {% endfor %}
  </section>

    

  

  {# New Activity form#}
  <form action="/activities/new" method="POST" class="form">
    <h2>New Activity</h2>

    <label>Title
      <input type="text" name="title" required>
    </label>

    <label>Description
      <input type="text" name="description" required>
    </label>

    <label>Location
      <input type="text" name="location" required>
    </label>

    <div class="horizontal">
      <label>Start Date
        <input type="date" name="start_date" required>
      </label>

      <label>Start Time
        <input type="time" name="start_time" required>
      </label>
    </div>

    <div class="horizontal">
      <label>End Date
        <input type="date" name="end_date" required>
      </label>

      <label>End Time
        <input type="time" name="end_time" required>
      </label>
    </div>

    <label>Associated Resource
      <select name="resource_id">
        <option value="">(No resource)</option>
        {% for resource in resources %}
          <option value="{{ resource.id }}">{{ resource.title }}</option>
        {% endfor %}
      </select>
    </label>

    <div class="horizontal">
      <label>
        <input type="checkbox" name="is_approvable">
        Request Activity To Be Public?
      </label>
      <button type="submit">Post</button>
    </div>
  </form>



  
  
  </form>

{% endblock %}