{#=====================================================
  Activities Page
  - Shows all recent and upcoming activities and allow members to post new activities
=====================================================#}



{% extends 'pages/base.jinja' %}


{% block title %}

    Activities - NARC

{% endblock %}


{% block content %}

    <h2>All Upcoming Activities</h2>

    <section>
      {% for activity in activities %}
        <article>
          <h3>{{activity.title}}</h3>
          <p>{{activity.description}}</p>
        </article>
      {% endfor %}
    </section>
    

    

    {# New Activity form#}
    <form action="/activities/new" method="POST">
      <h2>New Activity</h2>

      Title
      <input 
        type="text" 
        name="title"
        required
        >

      Description
      <input 
        type="text" 
        name="description"
        required
      >

      Location
      <input 
        type="text" 
        name="location"
        required
      >

      Start Time
      <input 
        type="datetime-local"
        name="start_time"
        required
      >

      End Time
      <input 
        type="datetime-local"
        name="end_time"
        required
      >
      <datalist id="resources">
        {%  for resource in resources %}
        <option value="{{resource.title}}">
        {% endfor %}
      </datalist>

      Associated Resources
      <input
        type="search"
        list="resources"
        name="resource"
        pattern="^({{ resources | map(attribute='title') | join('|') }})"
      >

      Request Activity To Be Public?
      <input 
        type="checkbox" 
        name="is_approvable"
        placeholder="False"
      >

      <button>Post</button>


    
    
    </form>

{% endblock %}