{#=====================================================
  Hamcram Page
  - TODO: WHAT DOES THIS PAGE DO?
=====================================================#}



{% extends 'pages/base.jinja' %}


{% block title %}

    HamCrams - NARC

{% endblock %}


{% block content %}

  <article>
    <h2>What is a HamCram?</h2>
    <p>A HamCram is an event that we hold around twice a year where we teach everything that you need to pass your amateur radio license over a weekend. 
    We can administer the offical test and let you know your results on the spot!</p>
    <img src="/static/images/ham_cram.jpg" alt="6 students recently completed HamCram">
  </article>

  <article>
    <p>We can provide loaner radios for you to use to get on the air as quick as possible and get experienced!</p>
    <h2>Want more info?</h2>
    <a href="/contact"><h2>Contact Us!</h2></a>
    <img src="/static/images/ham_cram2.jpg" alt="6 students recently completed HamCram">
  </article>

    

    

{% endblock %}