{#=====================================================
  Home page
  - TODO: WHAT DOES THE HOME PAGE DO?
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Nelson Amateur Radio Club

{% endblock %}


{% block content %}

    <section class="split-row">
        <img src="static/images/sylvester_antenna.jpeg" alt="Wide shot of antenna setup at Lake Sylvester">
    
        <div>
            <h1>Nelson Amateur Radio Club</h1>
            <h2>We are a vibrant amateur radio community with over 60 members in Nelson, NZ!</h2>
        </div>
       
    </section>

    
    <section class="split-row">
        <div>
            <h2>Upcoming Events</h2>
            {% for activity in activities %}
            <article>
                <h3>{{ activity.title }}</h3>
                <p>{{ activity.description }}</p>
                <p>{{ activity.location }}</p>
                
                {% if activity.resource_title %} 
                <a href="{{activity.resource_url}}">{{activity.resource_title}}</a>
                {% endif %}

                <p>Starts:
                {{ activity.start_time | localday }},
                {{ activity.start_time | localdate }} at
                {{ activity.start_time | localtime }}
                </p>

                <p>Ends: 
                {{ activity.end_time | localday }},
                {{ activity.end_time | localdate }} at
                {{ activity.end_time | localtime }}
                </p>
                
            </article>
            {% endfor %}
        </div>

        <div>
            <h2>What we do</h2>
            <img src="static/images/tent_banner.jpg" alt="Radio tent with Nelson radio banner on it">
            <p>We meet regularly and do cool stuff like...
                Not yet a member but want to become involved in amateur radio? We can help you get your license and join our club!</p>
            <a href="/contact" role="button">Join Us</a>
        </div>
    
    </section>
    
   

    

{% endblock %}

