{#=====================================================
  Profile Page
  - Allows the user to change their info and contact visibility settings
TODO seperate into two sections
=====================================================#}



{% extends 'pages/base.jinja' %}


{% block title %}

    {{user.callsign}} - NARC

{% endblock %}


{% block content %}

  <h2>{{user.name}} - {{user.callsign}}</h2>

  <section>
    {# Change User Details Form #}
    <form action="/profile/update-info" method="POST" class="form">
      <div class="horizontal">
        <label>Full name
          <input type="text" disabled value="{{user.name}}" required>
        </label>
        <label>Callsign
          <input type="text" disabled value="{{user.callsign}}" required>
        </label>
      </div>

      <label>Email
        <input type="email" name="email" value="{{user.email}}" required>
      </label>

      <label>Phone
        <input type="tel" name="phone" value="{{user.phone}}">
      </label>

      <div class="horizontal">
        <label> Email visible to public
          <input 
            type="checkbox"
            name="email_visible"
            {% if user.email_public %}checked{% endif %}
          >
        </label>

        <label>
          Phone visible to public
          <input 
            type="checkbox"
            name="phone_visible"
            {% if user.phone_public %}checked{% endif %}
          >
        </label>
      </div>

      <button>Update Info</button>
    </form>
  </section>



  <section>
    {# Change Password Form #}
    <form action="/profile/update-password" method="POST" class="form">
      
      <div class="horizontal">
        <label>Old Password
          <input 
          type="password" 
          name="old_password"
          required
          >
        </label>

        <label>New Password
          <input 
            type="password" 
            name="new_pass_1"
            required
            >
        </label>
      </div>
      
      <label>Confirm Password
        <input 
        type="password" 
        name="new_pass_2"
        required
        >
      </label>
      <button>Update Password</button>

    </form>
  </section>



  

{% endblock %}