{#=====================================================
  Resources Page
  - We need to display the entries of files: Create a bunch of links with the file title and link to associated url.
=====================================================#}



{% extends 'pages/base.jinja' %}


{% block title %}

    Resources - NARC

{% endblock %}


{% block content %}

    <h2>Resources</h2>
    <section>
      {% for resource in resources %}
        <article class="accent-article">
          <h4>{{resource.title}}</h4>
          <a href="{{resource.url}}">Go to Resource</a>
        </article>
        {% endfor %}
    </section>


    <h2>Add Resource</h2>
    <section>
      <form action="/resources/new" method="POST">
        Resource Title
        <input 
          type="text"
          name="title"
          required
        >
        Link to accessible resource
        <input 
          type="text"
          name="url"
          required
        >
      
        <button>Add</button>
      </form>
    
    </section>    

{% endblock %}