{#=====================================================
  401 unauthorised page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Unauthorised

{% endblock %}


{% block content %}
  <article class="error-text">
    <h1>Unauthorised!</h1>
    <p>Sorry, but you are not authorised to access this page.</p>
    <p>Try logging in or logging out then in again.</p>
  </article>
{% endblock %}